.layout{
    width: 600px;
    margin: auto;
 }
 .accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
 }
 .accordion__question p{
    margin: 5px;
    padding: 0;
    font-family: consolas;
    font-size: 20px;
 }
 .accordion__answer p{
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: grey;
    border-radius: 10px;
 }
 .accordion:hover{
    cursor: pointer;
 }
 .accordion__answer {
    display: none;
 }
 .accordion.active .accordion__answer {
    display: block;
 }